﻿SeqMarker
{
	width:14px;
	height:20px;
	background-image: resource("Assets/Ishimine/TimelineExtension/SequenceMarkers/Editor/SkipMarker.png");
}	

SeqMarker:hover:focus:checked
{
	width:14px;
	height:20px;
	background-image: resource("Assets/Ishimine/TimelineExtension/SequenceMarkers/Editor/SkipMarker.png");
}


LoopPauseMarker_Destiny
{
	width:14px;
	height:20px;
	background-image: resource("Assets/Ishimine/TimelineExtension/Editor/LoopPauseMarker_Destiny.png");
}	

LoopPauseMarker_Origin
{
	width:14px;
	height:20px;
	background-image: resource("Assets/Ishimine/TimelineExtension/Editor/LoopPauseMarker_Origin.png");
}	

PauseMarker
{
	width:14px;
	height:20px;
	background-image: resource("Assets/Ishimine/TimelineExtension/Editor/PauseMarker.png");
}	

SkipMarker
{
	width:14px;
	height:20px;
	background-image: resource("Assets/Ishimine/TimelineExtension/Editor/SkipMarker.png");
}	